<app-header></app-header>
<app-page-name [pageName]="pageName"></app-page-name>

<!--what we do content-->
<section class="testimonials-section home-section" style="background: rgba(0, 0, 0, .08); ">
  <div class="container">
    <div class="section-header text-center">
      <h2>WE SUPPORT CANINE CANCER RESEARCH</h2>
      <p style="letter-spacing: 1px">
        We launch projects that bring together teams of scientists, engineers, veterinarians, <br>
        and pet owners to address the following challenges.
      </p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
      <div fxFlex="33.33">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light text-center">
              <span style="letter-spacing: 3px">PREVENTION</span>
            </h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description text-center" style="letter-spacing: 1px;text-align: justify">
              What can we do to keep our pets healthy? What factors that are under our control (nutrition, supplements,
              exposure to chemicals, etc) have preventive impact? Where is the scientific data?
            </p>
            <span fxFlex="127px"></span>
          </div>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">

            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light text-center">
              <span style="letter-spacing: 2px">EARLY SCREENING</span>
            </h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description text-center" style="letter-spacing: 1px;text-align: justify">
              How do we find cancer early, so it can be most effectively treated? We need non-invasive cancer screening
              tests with urine or blood samples -so called "liquid biopsy'". Reliability as well as affordability will
              be important factors.
            </p>
            <span fxFlex="105px"></span>
          </div>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light text-center">TREATMENTS FOR FULL CURE</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description text-center" style="letter-spacing: 1px;text-align: justify">
              Cancer cells are supremely adaptive. They mutate and spread while developing resistance to all kinds of
              drugs. We want more than a few months life extension. We are seeking treatments that put dogs into full
              remission even after cancer has metastasized.
            </p>
            <span fxFlex="55px"></span>
          </div>
        </mat-card>
      </div>
    </div>
    <br>
    <div class="text-center">
      <button mat-raised-button mat-lg-button color="accent" class="btn-banner">
        FIND OUT MORE
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</section>
<!--what we do content end-->

<app-services></app-services>

<!--what we do content-->
<section class="testimonials-section home-section" style="background: rgba(0, 0, 0, .08); ">
  <div class="container">
    <div class="section-header">
      <h2 style="text-align: center">OUR REASONS FOR OPTIMISM</h2>
      <p style="letter-spacing: 1px">
        Dogs are not people. But naturally occurring tumors in dogs have many biological similarities to human cancers.
        Similarities also extend to the way our immune systems interact with cancer. And in the past decade, enormous
        advances have been made in new therapies and technologies to help tackle human cancer. These innovations can be
        brought to bear to help dogs.
        <br><br>
        We are reaching out to researchers and biotech companies that work on human cancers to see if they could also
        help dogs. And we are getting many positive responses. Why?
        Because many researchers love dogs. And because if they can show that a new therapy is helping dogs, it can pave
        the way to accelerate introduction to people. It's a win-win for canine and human patients.
      </p>
    </div>
  </div>
</section>
<!--what we do content end-->


<app-subscribe></app-subscribe>
<app-footer></app-footer>
