<app-header></app-header>
<app-page-name [pageName]="pageName"></app-page-name>


<!--FAQ CONTENT-->
<section class="testimonials-section home-section" style="background: rgba(0, 0, 0, .08); ">
  <div class="container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Who are the members of your research alliance?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>“Alliance” in our name emphasizes teaming needed to tackle big problems. We need collaboration between
          veterinary medicine clinicians and researchers, human cancer researchers, engineers and technology
          researchers, dog owners, pet healthcare businesses, funding organizations, and others.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Do you do in-house research?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>No. We focus on funding and supporting research projects.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How can I get funding for an idea?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Contact us at info@ccralliance.org. We will get back to you with some questions and explain our process.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            When are the proposal due dates?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>We accept project proposals throughout the year.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            I have a research idea. Can you help me find collaborators in the veterinary community?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Yes. We can facilitate teaming.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How do you select projects?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Project proposals are reviewed by our scientific review team against a number of criteria in order to select
          the most promising projects. Typically, our projects last between 12-36 months.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Are you only interested in immunotherapy as a therapeutic approach?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>We are open to reviewing all ideas, not just immunotherapy, that could potentially produce full
          remission.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            I have a basic science research idea involving dog cancer Do I have a chance at getting any funding?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>It depends on the idea.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Where is your organization?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p> CCRA is a 501(c)(3) nonprofit corporation based in Bellevue WA, close to Seattle. But our team is spread
          around the country and we support projects anywhere in North America.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>

<!--FAQ CONTENT END-->
<app-subscribe></app-subscribe>
<app-footer></app-footer>
