
<section class="home-section home-cta">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="50">
        <h2 class="text-center" style="font-size: 48px;font-weight: 700">OUR MISSION</h2>
      </div>
      <div fxFlex="50" fxLayoutAlign="center center" style="font-size: 24px;font-weight: 400">
        Launch and support research projects<br> to prevent and cure canine cancer
      </div>
    </div>
  </div>
</section>
