<app-header></app-header>
<app-page-name [pageName]="pageName"></app-page-name>

<!--what we do content-->
<section class="testimonials-section home-section" style="background: rgba(0, 0, 0, .08); ">
  <div class="container">
    <div class="section-header">
      <p style="letter-spacing: 1px">
        Our immune system consists of powerful interacting cells and molecules that attack foreign invaders as well as
        cancer cells. Recent human clinical trials have shown how immunotherapy could bring <b>durable, long-term
        remission</b>
        to some patients even with metastasized cancer. <br><br>This is a game changer.
        While there are many ways to help the immune system fight cancer, especially promising are the treatments that
        activate T-cells to go after cancer cells.
        <br><br>
        Here are two examples:
      </p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
      <div fxFlex="33.33">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
            </div>
            <span fxFlex="20px"></span>
            <span fxFlex="20px"></span>
            <p class="m-0 description text-center" style="letter-spacing: 1px;text-align: justify">
              <b>Checkpoint blockade:</b> T-cells can be deactivated when appropriate molecules bind to its checkpoint
              receptors. These surface receptors play an important role in keeping T-cells from becoming overactive and
              attacking our healthy tissues. Some tumors cells take advantage of this mechanism, bind to the checkpoint
              receptors and turn off the immune system. Drugs called checkpoint blockade drugs can block these tumor
              cells and ensure that T-cells can do their job.
            </p>
            <span fxFlex="127px"></span>
          </div>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">

            </div>
            <span fxFlex="20px"></span>
            <span fxFlex="20px"></span>
            <p class="m-0 description text-center" style="letter-spacing: 1px;text-align: justify">
              <b>Adoptive T-cell Therapy:</b> T-cells are collected from a patient, multiplied and activated to better
              target
              cancer cells. This is all done ex-vivo, outside the body. The cells are then infused back into the
              patient, where they can more effective seek out and kill cancer cells.
            </p>
            <span fxFlex="259px"></span>
          </div>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
            </div>
            <span fxFlex="20px"></span>
            <span fxFlex="20px"></span>
            <p class="m-0 description text-center" style="letter-spacing: 1px;text-align: justify">
              How to make sure that cancer immunotherapy is <b>safe for dogs</b> and how to <b>combine therapies</b> or
              explore other
              strategies to help nonresponding dogs are some of the challenges that researchers face.
            </p>
            <span fxFlex="281px"></span>
          </div>
        </mat-card>
      </div>
    </div>
    <br>
    <div class="m-0 description text-center" style="letter-spacing: 1px;text-align: justify">
      <p>While there are thousands of immunotherapy trials underway for people, there is only a few canine immunotherapy
        treatments in the pipeline today.<br><br>
        With your help, we would like to change this situation.
      </p>
    </div>
  </div>
</section>
<!--what we do content end-->

<app-subscribe></app-subscribe>
<app-footer></app-footer>
