<app-header></app-header>
<app-page-name [pageName]="pageName"></app-page-name>

<!--EVENTS CONTENT-->
<section id="portfolio-section" class="portfolio home-section" style="background: rgba(0, 0, 0, .08); ">
  <div class="container">
    <div class="section-header">
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="100">
        <mat-card class="p-0 m-0">
          <div class="text-center p-05">
            <img src="assets/images/wag11.png" width="90%">
          </div>
          <mat-card-content>

            <p>
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <h2 style="display: inline-block"><strong><a href="">Sept 9, 2018  9am  Redmond Washington</a></strong></h2>
            <button mat-raised-button color="accent" style="float: right;margin-top: 10px" (click)="gotoEvents()">
              LOAD MORE
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
<!--EVENTS CONTENT END-->

<app-subscribe></app-subscribe>
<app-footer></app-footer>
