<app-header></app-header>
<app-page-name [pageName]="pageName"></app-page-name>

<!--what we do content-->
<section class="testimonials-section home-section" style="background: rgba(0, 0, 0, .08); ">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
      <div fxFlex="60">
        <p style="letter-spacing: 1px; font-size: 20px">Research into cancer biomarkers or signals can help both
          researchers and clinicians.</p>
        <p style="letter-spacing: 1px; font-size: 16px;text-align: justify;padding: 10px;line-height: 30px">
          <b>Early cancer screening</b> – Can we develop non-invasive tests that can find cancer while it can be
          effectively
          treated? Can we find multiple cancer types by looking for circulating tumor DNA or other tumor associated
          molecules or cells?
        </p>
      </div>
      <div fxFlex="40">
        <div style="padding: 20px;" class="text-center">
          <img src="assets/images/biomarkers.png" width="50%">
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
      <div fxFlex="100">
        <p style="letter-spacing: 1px; font-size: 16px;text-align: justify;line-height: 30px">
          <b>Monitoring treatment response</b> – Today, we rely on imaging-based tests such as with x-rays for
          monitoring tumor<br> status. Successful biomarkers will allow researchers to see the treatment response
          without waiting for the tumor size <br>change to be visible.
        </p>
        <p style="letter-spacing: 1px; font-size: 16px;text-align: justify;line-height: 30px">
          <b>Predicting treatment response</b> – Researchers can also use biomarkers to more precisely identify
          patient<br>
          subpopulations who will respond to a treatment. Or to better predict who might experience serious
          side-effects.
        </p>
        <p style="letter-spacing: 1px; font-size: 16px;text-align: justify;line-height: 30px">
          <b>Guiding immunotherapy research</b> – Measurement of molecular and cellular immunologic signatures during
          trials,<br> and sharing of collected data and insights will accelerate development of new immunotherapy for
          canines.
        </p>
      </div>
    </div>
    <br>
  </div>
</section>
<!--what we do content end-->


<app-subscribe></app-subscribe>
<app-footer></app-footer>
