<app-header></app-header>
<app-page-name [pageName]="pageName"></app-page-name>
<!--what we do content-->
<section class="testimonials-section home-section">
  <div class="container">
    <div class="section-header text-center">
      <div>
        <span
          style="padding-top: 80px;fill-opacity: 1; stroke-width: 0; stroke: rgb(0, 0, 0); stroke-opacity: 1; fill: rgb(255, 255, 255); margin-top: 30px">
           <svg viewBox="39.5 45 121 110" height="80" width="80" xmlns="http://www.w3.org/2000/svg" data-type="color"
                role="img" preserveAspectRatio="xMidYMid meet" style="">
    <g>
        <path
          d="M100 155l-50.845-50.92C43.111 97.644 39.5 88.53 39.5 79.703 39.5 60.566 55.046 45 74.153 45 84.179 45 93.484 49.258 100 56.621 106.52 49.258 115.823 45 125.847 45c19.107 0 34.653 15.566 34.653 34.703 0 8.828-3.611 17.943-9.655 24.377l-.087.089L100 155zM55.249 98.255L100 143.068l44.753-44.813c4.587-4.906 7.322-11.836 7.322-18.551 0-14.484-11.763-26.266-26.228-26.266-9.108 0-17.433 4.651-22.27 12.446l-3.579 5.769-3.575-5.769c-4.834-7.795-13.159-12.446-22.27-12.446-14.463 0-26.228 11.782-26.228 26.266 0 6.712 2.738 13.642 7.324 18.551z"
          fill="#2F54DD" data-color="1"></path>
    </g>
</svg>
      </span>
      </div>
      <div>
        <span style="font-size: 32px">
          Donating => Gratitude + Licks
        </span>
      </div>
      <br>
      <p style="letter-spacing: 1px">
        We appreciate any contribution that you can provide
      </p>
    </div>
    <br>
    <div class="text-center">
      <button mat-raised-button mat-lg-button color="accent" class="btn-banner">
        DONATE
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <br><br>
      <p style="letter-spacing: 1px;font-size: 18px">Your donation is tax deductible.</p>
      <p style="letter-spacing: 1px;font-size: 18px">The Federal Tax ID number is 82-3762441.</p><br><br>
      <p style="letter-spacing: 1px;font-size: 18px">
        A check can also be sent to<br>
        CCRA<br>
        P.O.Box 385<br>
        Bellevue WA 98009
      </p>
    </div>
  </div>
</section>
<!--what we do content end-->
<app-subscribe></app-subscribe>
<app-footer></app-footer>
