<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">

      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="33.33" class="footer-box">
          <h4 class="footer-box-title"><b>Learn</b></h4>
          <div class="text-center">
            <button mat-raised-button color="primary" class="btn-banner" routerLink="/home/what-we-do">
              LEARN
              <span style="margin-left: 20px;margin-top: 10px;display: inline-block"><mat-icon>arrow_forward</mat-icon></span>
            </button>
            <h4>Where we are focusing?</h4>
          </div>
        </div>
        <div fxFlex="33.33" class="footer-box">
          <h4 class="footer-box-title"><b>Share</b></h4>
          <div class="text-center">
            <button mat-raised-button color="primary" class="btn-banner" routerLink="/home/share">
              SHARE
              <span style="margin-left: 20px;margin-top: 10px;display: inline-block"><mat-icon>arrow_forward</mat-icon></span>
            </button>
            <h4>How are you helping your dog?</h4>
          </div>
        </div>
        <div fxFlex="33.33" class="footer-box">
          <h4 class="footer-box-title"><b>Give</b></h4>
          <div class="text-center">
            <button mat-raised-button color="primary" class="btn-banner" routerLink="/home/donate">
              GIVE
              <span style="margin-left: 30px;margin-top: 10px;display: inline-block"><mat-icon>arrow_forward</mat-icon></span>
            </button>
            <h4>Your support makes<br> a huge difference</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
